.pdf-container{
    width: 100%;
    height: 800px;
    background-color: #a3a3a3;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-msg{
    width: 100%;
    color: red;
    font-size: 14px;
    font-weight: 600;
}
#drop-zone{
    border:1px solid black;
    height:100px;
}

/* @todo duplicated rewrite it*/
.form-group input[type="file"]::file-selector-button {
    top: 100px;
    width: 200px;
    font-weight: bold;
    padding: .8em 1em;
    background: #4D7EA8;
    border: 1px solid #3c607f;
    color: #fff;
    margin-bottom: 10px;
}

.button-upload {
    top: 100px;
    width: 200px;
    font-weight: bold;
    padding: .8em 1em;
    background: #4D7EA8;
    border: 1px solid #3c607f;
    color: #fff;
}

.form-group  input[type="file"]::file-selector-button:hover, .form-group .button-upload:hover{
    cursor: pointer;
    background-color: #3c607f;
}
