.sidebar {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    padding: 2em;
    bottom: 0;
    height: 40vh;
    width: 20vw;
    background-color: white;
    z-index: 500;
    transition: all .5s;
    opacity: 1;
}

.sidebar h2,
.sidebar p,
.sidebar ul {
    text-align: left;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar button {
    width: 100%;
    font-weight: bold;
    padding: .8em 1em;
    cursor: pointer;
    background: #4D7EA8;
    border: 1px solid #3c607f;
    color: #fff;
}

.sidebar button:hover {
    cursor: pointer;
    background-color: #3c607f;
}

.sidebar .close-button {
    all: unset;
    position: absolute;
    cursor: pointer;
    font-size: 24px;
    right: 10px;
    top: 10px;
    transition: all .5s;
}

.sidebar .close-button:hover {
    background-color: transparent;
    color: #3c607f;
}